{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Як замовити
{% endblock %}

{% block content %}
	{% include 'base/header.html' %}
<!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb top-menu">
		<div class="container">
			<ul>
				{% for category in output %}
				<li><a href="/#{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
	
	<div class="w3l_banner_nav_right">
		<div class="row checkout-row">
			<h1 style="text-align: center;">Як замовити</h1>
			<hr>
			<p style="text-align: center; font-size: 1.3em; line-height: 1.5em;">
			Замовлення приймаємо щодня з 11.00 до 23.00 через наш сайт <a href="http://www.yakuzalviv.com" style="color: #ff1818;">www.yakuzalviv.com</a> або по телефону:<br> 
			+38 (073) 80 05 009<br>
			+38 (050) 53 42 556<br>
			+38 (098) 26 37 505<br>
			Оплатити за замовлення Ви можете готівкою при отриманні або за допомогою банківської картки на нашому сайті.
			Доставка  <span style="color: green">безкоштовна</span> при замовленні на мінімально вказану суму.<br>
			Сума мінімального замовлення в межах міста – <span style="color: green">199 грн</span>.<br>
			Сума мінімального замовлення за межі міста <span style="color: green">від 300 грн.</span><br>
			Тривалість доставки становить від 20 до 80 хвилин.
			Після оформлення замовлення на сайті з Вами зв'яжуться найближчим часом.<br>
			<u>Переконливе прохання: будь ласка, великі замовлення оформляйте зазделегідь.</u>
			</p>
			<div class="col-md-7 col-sm-10 col-xs-12">

			</div>
			
		</div>
		
	</div>
	<div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- newsletter -->
{% include 'base/footer.html' %}
<!-- //footer -->
{% endblock %}