{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Головна
{% endblock %}

{% block content %}
	{% include 'base/header.html' %}
<!-- //header -->
<!-- products-breadcrumb -->

	<style type="text/css">

		#search_form {
		    /*text-align: right;*/
		    /*float: left;*/
		    margin-top: 12px;
		}
		#search_form input{
		    height: 37px;
		}
		#prod-close {
		    font-size: 28px;
		    right: 4px;
		    color: #aaa;
		}

		.minicart-showing .agileits_header {
		    display: none;
		}
		.filters {
		    /*float: left;*/
		    display: inline-block;
		    border: 1px solid #fff;
		    border-radius: 5px;
		    padding: 10px;
		    text-align: center;
		}
		.filters-filter{
		    display: inline-block;
		    margin: 0 8px;
		}
		.filters span {
		    color: #fff;
		    display: block;
		    margin: 7px 0;
		}
		.filters i {
		    display: block;
		    color: #fff;
		    font-size: 24px;
		    cursor: pointer;
		}
		.filters i.active{
		    color: green;
		}
		.filters img {
		    display: block;
		    width: 20px;
		    margin: auto;
		    cursor: pointer;
		}	

		.product-form-arrows {
		    position: absolute;
		    top: calc(62% - 87px);
		    width: 100%;
		    font-size: 61px;
		    height: 87px;
		    color: #aaa;
		}
		.product-form-arrows .product-left-arrow {
		    float: left;
		    cursor: pointer;
		}
		.product-form-arrows .product-right-arrow {
		    float: right;
		    cursor: pointer;
		}
		.hidden-by-search {
		    display: none;
		}

	</style>

	<div class="products-breadcrumb top-menu">
		<div class="container">
			<ul>
				{% for category in output %}
				{% if category.is_show %}
				<li><a href="#{{ category.slug }}">{{ category.name }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="agileits_header">
		<div class="product_list_header">
			<form action="#" method="post" class="last">
                <fieldset>
                	{% csrf_token %}
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="display" value="1" />
                    <input type="submit" name="submit" value="Корзина" class="button" />
                </fieldset>
            </form>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">

		<div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner3_btm">
				{% for share in shares %}
				{% if share.show_at_main %}
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">

					<div class="view view-tenth">
						<a href="/shares#{{ forloop.counter }}"><img src="{{ share.image.url }}" alt=" " class="img-responsive" /></a>
					</div>

				</div>
				{% endif %}
				{% endfor %}
				<!-- <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="images/14.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="images/15.jpg" alt=" " class="img-responsive" />
					</div>
				</div> -->
				<div class="clearfix"> </div>
			</div>
			<div class="row main-row">
				<div class="w3ls_w3l_banner_nav_right_grid col-md-9 col-md-offset-3">

					<div class="filters">
						{% for filter in filters %}
							<div class="filters-filter" id="{{ filter.slug }}">
								<i class="fa fa-heart-o plus-filter" aria-hidden="true"></i>
								<span>{{ filter.name }}</span>
								<img class="minus-filter" src="{% static 'base/images/X.png' %}">
							</div>

						{% endfor %}
					</div>

					<form id="search_form">
						<input type="text" name="search" placeholder="">
						<button type="submit" class="submit">Пошук</button>
					</form>
					{% for category in output %}
					{% if category.is_show %}
					<div class="w3ls_w3l_banner_nav_right_grid1" id="{{ category.slug }}">
						<h6>{{ category.name }}</h6>
						{% for product in category.products %}
						<div class="col-md-4 сol-sm-6 col-xs-12 w3ls_w3l_banner_left" id="product-block-{{ product.0.id }}">
							<div class="hover14 column">
							<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="product-labels">
												{% for label in product.0.label.all %}
												<img src="{{ label.icon.url }}">
												{% endfor %}
											</div>
											<div class="snipcart-thumb" id="{{ product.1 }}">
												<a><img src="{{ product.0.image.url }}" alt=" " class="img-responsive" /></a>
												<h4>{{ product.0.title }}<small>{{ product.0.weight }}г</small></h4>
												<p>{{ product.0.description }}</p>
												<h4>{{ product.0.price }}грн</h4>
											</div>
											<div class="snipcart-details">
												<form action="#" method="post">
													<fieldset>
														{% csrf_token %}
														<input type="hidden" name="cmd" value="_cart" />
														<input type="hidden" name="add" value="1" />
														<input type="hidden" name="business" value=" " />
														<input type="hidden" name="item_id" value="{{ product.0.id }}" />
														<!-- <input type="hidden" name="item_id" value="{{ product.image.url }}" /> -->
														<input type="hidden" name="item_name" value="{{ product.0.title }}" />
														<input type="hidden" name="amount" value="{{ product.0.price }}" />
														<input type="hidden" name="item_image" value="{{ product.0.image.url }}" />
														<input type="hidden" name="currency_code" value="UAH" />
														<input type="hidden" name="return" value=" " />
														<input type="hidden" name="cancel_return" value=" " />
														<input type="submit" name="submit" value="Додати в корзину" class="button" />
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
							</div>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>

		</div>
		<div class="clearfix"></div>
	</div>

	<div style="display: none;" class="product-form col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="prod-block">
		<div class="product-form-image">
			<button class="product-closer" id="prod-close" type="button">×</button>
			<div class="product-form-arrows">
			<i class="fa fa-chevron-left product-left-arrow product-arrow"
			 aria-hidden="true"></i>
			<i class="fa fa-chevron-right product-right-arrow product-arrow"
			" aria-hidden="true"></i>
			</div>
			<h4 id="prod-title">Title</h4>
			<img id="prod-image" src="/media/6._%D1%82%D0%B5%D0%BA%D0%BA%D0%B0_%D0%BC%D0%B0%D0%BA%D0%B8_%D1%81%D0%BF%D0%B0%D0%B9%D1%81_A1eKLM8.jpg">
			<h4 id="prod-weight"><small>200г</small></h4>
			<p id="prod-description">Норі, Рис,Тунець,Спайс Соус</p>
			<h2 id="prod-price">99грн</h2>

			<div class="snipcart-details">
			<form action="#" method="post">
				<fieldset>
					{% csrf_token %}
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="add" value="1" />
					<input type="hidden" name="business" value=" " />
					<input id="prod-form-id" type="hidden" name="item_id" value="-1" />
					<!-- <input type="hidden" name="item_id" value="{{ product.image.url }}" /> -->
					<input id="prod-form-title" type="hidden" name="item_name" value="" />
					<input id="prod-form-price" type="hidden" name="amount" value="" />
					<input id="prod-form-image" type="hidden" name="item_image" value="" />
					<input type="hidden" name="currency_code" value="UAH" />
					<input type="hidden" name="return" value=" " />
					<input type="hidden" name="cancel_return" value=" " />
					<input type="submit" name="submit" value="Додати в корзину" class="button" />
				</fieldset>
			</form>
		</div>
		</div>
	</div>

<!-- //banner -->
<!-- newsletter -->
{% include 'base/footer.html' %}
<!-- //footer -->
<style type="text/css">
	@media (min-width: 992px) {
	    .show-minicart-lg #PPMiniCart {
	        display: block;
	        transform: translateZ(0);
	        -webkit-transform: translateZ(0);
	        -moz-transform: translateZ(0);
	        animation: pop-in 0.25s;
	        -webkit-animation: pop-in 0.25s;
	        -moz-animation: pop-in 0.25s;
	    }
	    .show-minicart-lg #PPMiniCart .minicart-closer {
	        display: none;
	    }
	    .show-minicart-lg .agileits_header {
	        display: none;
	    }
	}
</style>

<script type="text/javascript">

	var csrfToken = "{% csrf_token %}";

	var products = [];
	var products_names = {};
	{% for category in output %}
		console.log("{{ category.test }}");
		{% for product in category.products %}
			console.log("product: {{ product.1 }}");
			products_names["product-{{ product.0.id }}"] = products.length;

			var product = {
				'id'          : "{{ product.0.id }}",
				'title'       : "{{ product.0.title }}",
				'price'       : "{{ product.0.price }}",
				'image'       : "{{ product.0.image.url }}",
				'weight'      : "{{ product.0.weight }}",
				'description' : "{{ product.0.description }}",
				'category'    : "{{ category.name }}",
				'labels'      : [],
				'filter'      : []
			};

			{% for filter in product.0.tags.all %}
				product.filter.push('{{ filter.slug }}');
			{% endfor %}

			{% for label in product.0.label.all %}
				product.labels.push('{{ label.icon.url }}');
			{% endfor %}

			products.push(product);
		{% endfor %}
	{% endfor %}

	var filters = {};
	{% for filter in filters %}
		filters['{{ filter.slug }}'] = 0;
	{% endfor %}

	// console.log("PRODUCTS", products);

	if ($(window).width() >= 1024)
	   setTimeout(function() {
			$($('.last')[0].submit).click();
		}, 500);

	$('.snipcart-thumb').on('click', function() {
		showProduct(+ $(this).attr('id'));
	});

	$('#prod-close').on('click', function() {
		$('#prod-block').css({"display" : "none"});
	});

	$('.product-arrow').on('click', function() {
		showProduct(+ $(this).attr('id'));
	});

	function showProduct(id) {

		console.log(id);

		// var product_data = products[products_names[id]];
		var product_data = products[id];

		$('#prod-form-id').val(product_data.id);
		$('#prod-title').text(product_data.title);
		$('#prod-form-title').val(product_data.title);
		$('#prod-image').attr({"src" : product_data.image});
		$('#prod-form-image').val(product_data.image);
		$('#prod-weight').text(product_data.weight + "г");
		$('#prod-form-weight').val(product_data.weight);
		$('#prod-description').text(product_data.description);
		$('#prod-form-description').val(product_data.description);
		$('#prod-price').text(product_data.price + "грн");
		$('#prod-form-price').val(product_data.price);

		$('#prod-block').css({"display" : "block"});

		var leftId = id < 1 ? products.length - 1: id - 1;
		var rightId = id >= products.length - 1? 0 : id + 1;

		console.log(leftId, rightId);

		$('.product-left-arrow').attr({'id' : leftId});
		$('.product-right-arrow').attr({'id' : rightId});
	}

</script>

<script type="text/javascript">
	$('.plus-filter').on('click', function() {
		// console.log($(this).parent().attr('id') == 1);
		var filter_name = $(this).parent().attr('id');

		if (filters[filter_name] == 1) {
			filters[filter_name] = 0;
			$('#'+filter_name).children('i').removeClass('active');
		}
		else {
			filters[filter_name] = 1;
			$('#'+filter_name).children('i').addClass('active');
			$('#'+filter_name).children('img').attr({'src' : '/static/base/images/X.png'});
		}

		filterElements()

	})

	$('.minus-filter').on('click', function() {
		// console.log($(this).parent().attr('id'));

		var filter_name = $(this).parent().attr('id');

		if (filters[filter_name] == -1) {
			filters[filter_name] = 0;
			$('#'+filter_name).children('img').attr({'src' : '/static/base/images/X.png'});
		}
		else {
			filters[filter_name] = -1;
			$('#'+filter_name).children('img').attr({'src' : '/static/base/images/X_red.png'});
			$('#'+filter_name).children('i').removeClass('active');
		}

		filterElements()
	})

	function filterElements() {

		var filtering_criteria = function() {
			for (var key in filters) {
				if (filters[key] == 1)
					return 1
			}
			return 0
		}();

		for (var i = 0; i < products.length; i++) {

			if (findIn(products[i].filter, filtering_criteria) && !findIn(products[i].filter, -1)){
				$('#product-block-'+products[i].id).css({'display':'block'});
				// console.log('#product-block-'+products[i].id, ' is shown');
			} else {
				$('#product-block-'+products[i].id).css({'display':'none'});
				// console.log('#product-block-'+products[i].id, ' hidden');
			}

		}
		// console.log(i);


	}

	function findIn(array, value) {
		for (element of array) {
			// console.log(element, value);
			if (filters[element] == value)
				return true
		}
		return false;
	}

</script>

<script type="text/javascript">
	$('#search_form').on('submit', function(e) {
		e.preventDefault();
		console.log($(this).serializeArray()[0]["value"]);

		var searchKey = $(this).serializeArray()[0]["value"];

		$('.w3ls_w3l_banner_left').each(function(index) {
			var element = $(this).find('h4');
			// console.log(element.text().includes(searchKey));
			if (element.text().toLowerCase().includes(searchKey.toLowerCase()))
				$(this).removeClass('hidden-by-search')
			else
				$(this).addClass('hidden-by-search');
			
		});
	});
</script>


{% endblock %}