{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
Акції
{% endblock %}

{% block content %}
	{% include 'base/header.html' %}
<!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb top-menu">
		<div class="container">
			<ul>
				{% for category in output %}
				<li><a href="/#{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">

	<div class="w3l_banner_nav_right">
		<div class="row shares-row">
			<h1>Акції</h1>
			{% for share in shares %}
			{% if share.show_at_shares %}
			<div class="col-md-12">
				<p>{{ share.content }}</p>
				<img src="{{ share.image.url }}">
			</div>
			{% endif %}
			{% endfor %}
		</div>

	</div>
	<div class="clearfix"></div>

</div>
<!-- //banner -->
{% include 'base/footer.html' %}
{% endblock %}