<!DOCTYPE html>
<html>
<head>
    <title>НОВЕ ЗАМОВЛЕННЯ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

  <h1 style="text-align: center;">НОВЕ ЗАМОВЛЕННЯ</h1>
	<h2 style="text-align: center;">ЗАМОВЛЕННЯ №{{ order.simple_id }}</h2>
	<h2 style="text-align: center;"><b>Yakuza</b> доставка суші та піци</h2>

    <table class="table" style="border: 1px solid #555; border-collapse: collapse; width: 100%;">
	  <thead>
	    <tr style="border-bottom: 1px solid #888;">
	      <th scope="col" style="border-bottom: 1px solid #888;">Дата</th><th scope="col" style="border-bottom: 1px solid #888;">Ім'я</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">номер телефону</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Адреса доставки</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Кількість осіб</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Тип оплати</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row" style="border-bottom: 1px solid #888;">{{ order.created_at|date:"d/m/Y H:i" }}</th>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.name }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.phone }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.address }}</td>
	      <th style="border-bottom: 1px solid #888; text-align: center;">{{ order.count }}</th>
	      {% if order.type_of_payment == '1' %}
	      <td style="border-bottom: 1px solid #888; text-align: center;">Банківська карта</td>
	      {% else %}
	      <td style="border-bottom: 1px solid #888; text-align: center;">Готівка</td>
	      {% endif %}
	    </tr>
	  </tbody>
	</table>

	<h3>Коментарій</h3>
	<p>{{ order.comment }}</p>

	<h5 style="text-align: center;">Замовлення</h5>

	<table class="table" style="border: 1px solid #555; border-collapse: collapse; width: 100%;">
	  <thead>
	    <tr>
	      <th scope="col" style="border-bottom: 1px solid #888;">#</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Назва</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Ціна</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Кількість</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Сума</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in order.product.all %}
	    <tr>
	      <th scope="row" style="border-bottom: 1px solid #888;">{{ forloop.counter }}</th>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.product.title }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.product.price }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.count }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.total }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>

	  <thead>
	    <tr>
	     <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888; font-size: 22px;">Загальна сума:</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td> </td>
	      <td> </td>
	      <td> </td>
	      <td> </td>
	      <th style="font-size: 22px;" scope="row">{{ order.total }}</th>
	    </tr>
	  </tbody>
	</table>

	<!--Second part-->
  <h1 style="text-align: center;">НОВЕ ЗАМОВЛЕННЯ</h1>
	<h2 style="text-align: center;">ЗАМОВЛЕННЯ №{{ order.simple_id }}</h2>
	<h2 style="text-align: center;"><b>Yakuza</b> доставка суші та піци</h2>

    <table class="table" style="border: 1px solid #555; border-collapse: collapse; width: 100%;">
	  <thead>
	    <tr style="border-bottom: 1px solid #888;">
	      <th scope="col" style="border-bottom: 1px solid #888;">Дата</th><th scope="col" style="border-bottom: 1px solid #888;">Ім'я</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">номер телефону</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Адреса доставки</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Кількість осіб</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Тип оплати</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row" style="border-bottom: 1px solid #888;">{{ order.created_at|date:"d/m/Y H:i" }}</th>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.name }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.phone }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ order.address }}</td>
	      <th style="border-bottom: 1px solid #888; text-align: center;">{{ order.count }}</th>
	      {% if order.type_of_payment == '1' %}
	      <td style="border-bottom: 1px solid #888; text-align: center;">Банківська карта</td>
	      {% else %}
	      <td style="border-bottom: 1px solid #888; text-align: center;">Готівка</td>
	      {% endif %}
	    </tr>
	  </tbody>
	</table>

	<h3>Коментарій</h3>
	<p>{{ order.comment }}</p>

	<h5 style="text-align: center;">Замовлення</h5>

	<table class="table" style="border: 1px solid #555; border-collapse: collapse; width: 100%;">
	  <thead>
	    <tr>
	      <th scope="col" style="border-bottom: 1px solid #888;">#</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Назва</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Ціна</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Кількість</th>
	      <th scope="col" style="border-bottom: 1px solid #888;">Сума</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in order.product.all %}
	    <tr>
	      <th scope="row" style="border-bottom: 1px solid #888;">{{ forloop.counter }}</th>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.product.title }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.product.price }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.count }}</td>
	      <td style="border-bottom: 1px solid #888; text-align: center;">{{ item.total }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>

	  <thead>
	    <tr>
	     <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888;"> </th>
	      <th scope="col" style="border-bottom: 1px solid #888; font-size: 22px;">Загальна сума:</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td> </td>
	      <td> </td>
	      <td> </td>
	      <td> </td>
	      <th style="font-size: 22px;" scope="row">{{ order.total }}</th>
	    </tr>
	  </tbody>
	</table>              

</body>
</html>