<style type="text/css">
	table.tableizer-table {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>НОВЕ ЗАМОВЛЕННЯ</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
 <tr><td>ЗАМОВЛЕННЯ №{{ order.id }}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>--------------------------------</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>ДАТА</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.created_at|date:"d/M/Y" }}</td><td>{{ order.created_at|date:"H:i" }}</td><td>&nbsp;</td></tr>
 <tr><td>ІМ'Я</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.name }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>НОМЕР ТЕЛЕФОНУ</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.phone }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>АДРЕСА ДОСТАВКИ</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.address }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>КІЛЬКІСТЬ ОСІБ</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.count }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>КОМЕНТАР</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.comment }}</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>ТИП ОПЛАТИ </td><td>&nbsp;</td><td>&nbsp;</td>{% if order.type_of_payment == '1' %}<td>банківська карта</td>{% else %}<td>готівка</td>{% endif %}<td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
 <tr>
 ЗАМОВЛЕННЯ
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td>НАЗВА</td>
  <td>ЦІНА</td>
  <td>КІЛЬКІСТЬ</td>
  <td>&nbsp;</td>
  <td>СУМА</td>
 </tr>
 {% for item in order.product.all %}
 <tr>
  <td>{{ item.product.id }}</td>
  <td>{{ item.product.title }}</td>
  <td>{{ item.product.price }}</td>
  <td>{{ item.count }}</td>
  <td>&nbsp;</td>
  <td>{{ item.total }}</td>
 </tr>
 {% endfor %}
 <tr><td>&nbsp;</td><td>Загальна сума:</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>{{ order.total }}</td></tr>
</tbody></table>