<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Нове замовлення</title>
</head>
<body>

	<style type="text/css">
		 @font-face {
	        font-family: 'RobotoBoldwebfont';
	        src: url("/static/admin/fonts/Roboto-Bold-webfont.woff");
	      }
	      h1 {
	      	font-family: 'RobotoBoldwebfont';
	      	font-size: 32px;
	      }
	</style>
	<h1>Номер замовлення {{ order.simple_id }}</h1>
	<h2><b>Yakuza</b> доставка суші та піци</h2>
	<hr>
	<h3>адреса: {{ order.address }}</h3>
	<h3>Ім'я: {{ order.phone }}</h3>
	<h3>Коментарій: {{ order.comment }}</h3>
	<h4>список товарiв</h4>
	<hr>
	{% for product in products %}
	<p>{{ product.product }} - {{ product.count }}</p>
	{% endfor %}

	<h1>Total: {{ order.total }}</h1>
	<h3>payment: {{ type_of_payment }}</h3>
	
</body>
</html>